<div class="row">
  <div class="col-xs-12"></div>
  <img src="" alt="" class="img-responsive">
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h1>Recipe Name</h1>
</div><div class="row">
  <div class="col-xs-12"></div>
  <button type="button" class="btn btn-primary dropdown-toggle ">Manage Recipe <span class="caret"></span></button>
<ul>
  <li><a href="#">Add Ingredients to Shopping list</a></li>
  <li><a href="#">Edit Recipe</a></li>
  <li><a href="#">Delete Recipe</a></li>
</ul>
</div>

